<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Prime Cart</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for(endpoint='static', filename='css/index.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>

    <header>
      <div class="navbar shadow ">
        <a href="/" class="navbar-brand text-dark">PrimeCart</a>
        <div class="navbar-nav d-flex flex-row">
          <a href="/logout" class="text-dark">Logout</a>
        </div>
      </div>
    </header>


    <div class="container ml-0 pl-0" >
      <div class="row" style="min-height:90vh">
        <div class="col-sm-3 h-100 mynav card d-none d-sm-flex">
          <div class="card-body"></div>
        </div>
      <div class="col-sm-9 card-columns mt-4 align-items-center">
      {%for i in products%}
      <div class="card item">
        <div>
        <div class="card-body overflow-hidden align-self-stretch" style="height:145px">
          <h5>{{i['ProductName']}}</h5>
          <p>{{i['Price']}}</p>
        </div>
        <div class="card-footer">
          <input type="submit" class="btn btn-primary btn-sm" name="add_to_cart" value="Add to Cart">
        </div>
      </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
  </body>
</html>
