<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>register</title>
  </head>
  <body>
    <div class="registration_form">
      <form class="" action="login.html" method="post">
        <p><input type="text" name="username" value="" placeholder="Username" required></p>
        <p><input type="password" name="password" value="" placeholder="Password" required></p>
        <p><input type="submit" name="submit" value="Submit"></p>
      </form>
    </div>
  </body>
</html>
