<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ url_for(endpoint='static', filename='css/login.css') }}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

  <header>
    <div class="navbar shadow ">
      <a href="/" class="navbar-brand text-dark">PrimeCart</a>
      <div class="navbar-nav d-flex flex-row">
        <a href="/register" class="text-dark">Register</a>
      </div>
    </div>
  </header>

  <div class="container text-center">
    <div class='row  align-items-center ' >
    <div class="card mx-auto justify-content-center shadow" style="width: 18rem;">

      <form class="card-body" action="/login" method="post">
        <p><input class="form-control" type="text" name="username" value="" placeholder="Username" required></p>
        <p><input class="form-control" type="password" name="password" value="" placeholder="Password" required></p>
        <p><input class="btn btn-primary" type="submit" name="submit" value="Submit"></p>
      </form>
    </div>
  </div>
</div>  
</body>

</html>
